/* App.css  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-image: url("https://images.unsplash.com/photo-1635776062043-223faf322554?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80");
  background-repeat: none;
  color: #202020;
  font-family: 'Unbounded', cursive;  
  line-height: 2;
  font-size: .8em;
}

.player {
  margin: 5em;
  padding: 4em;
  box-shadow: 0px 0px 32px #20202055;
  background-color:rgba(235, 246, 255, 0.424);
  border-radius: 1.5em;
}

.artwork {
  margin: 1em;
  padding: 1.5em;
  box-shadow: 0px 0px 32px #20202055;
  background-color:rgba(235, 246, 255, 0.424);
  border-radius: 1.5em;
}

.playlist {
  line-height: 3;
}

.playlistCol, .sectopm {
  padding-left: 3em;
  margin-top: 2em;
}
.heavy {
  font-weight: 900;
}

.logo {
  background-image: url("/public/logo/PNG/logo3.png");
  background-size: contain;
  background-repeat: no-repeat;
  color:#202020;
  height: 5em;
  margin-left:2em;
}

.music-player-controls{
  margin: 1em;
  text-align: center;
}

.player-button {
  font-size: 1.2em;
  margin:1em;
}

.seek {
  color: black;
  margin: .8em;
  height: .4em;
}